{% extends "layout.html" %} 
{% block content %}
<body>
    {% for post in posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata" style="display: flex; align-items: center;">
                    <img class ="rounded-circle article-img" src="{{url_for('static', filename ='profile_pics/'+ post.author.image_file)}}" style="width: 70px; height: 70px;">
                    <div style="margin-left: 10px;">
                        <a class="mr-2" style="font-size:larger; text-decoration: none; margin-top: 10px;" href="#">{{post.author.username }}</a>
                        <br>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                </div>
                <h2><a class="article-title" style="text-decoration: none;" href="{{url_for('post', post_id=post.id)}}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
    {% endfor %}
</body>
{% endblock content %}
